body {
    width:100%;
    overflow-x:hidden;
}


/*
.fixed_header{
    margin-top: 20px;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}*/
/*.scrollable{
     width: 100%;
  overflow: auto;
  height: 300px;
}*/

/*.table-fixed{
  width: 100%;
  background-color: #f3f3f3;
  tbody{
    height:200px;
    overflow-y:auto;
    width: 100%;
    }
  thead,tbody,tr,td,th{
    display:block;
  }
}*/

#table{
    display: block;
}
.table{
  width: 100%;
  overflow: auto;
  height: 300px;
}





.carousel-item{
    height: 50vh;
    min-height: 300px;
    background:no-repeat center center scroll;
    background-attachment: fixed;
}

.navbar{
    height: auto;
    background: #dcdcdc;
    margin-bottom: 2%;
}


.navbar-nav a{
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
}

.navbar-light {
    color: #fff;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing:2px;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link{
    color: #fff;
}

.navbar-light .navbar-nav .nav-link{
    color: #fff;
}

.navbar-nav{
    text-align: center;
}

.nav-link{
    padding: .2rem 1rem;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #00838a !important;
}

@media only screen and (max-width:984px){
    .navbar-nav.ml-auto{
        background: rgba(0,0,0,0.5);
    }
    .nabar-toggler{
        
        padding:1px 5px;
        font-size: 18px;
        line-height: 0.3;
        background: rgba(0,0,0,0.5);
        z-index: 1;
    }
}


    





footer
{
  padding-top: 5vh;
  padding-bottom: 2vh;
}

.content
{
  height: 50vh;
  background-color: lightgray;
}

.container
{
  background-color: #dcdcdc;
}


.copyright,  .impressum
{
  text-align: center;
}

.logo
{
  height: 8vh;
}

@media (max-width: 768px) 
{
  li
  {
    margin-left: 0;
    margin-bottom: 1vh;
  }
  
  .sozial
  {
    margin-bottom: 1vh;
  }
}